#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: peachpuff;
}

body {
  margin: 0px;
}

h1 {
  color:hsl(0, 38%, 30%);
  font-size: 4em;
}

/* navbar */

.navbar {
  background-color: rgb(169, 76, 76);
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  flex-wrap: wrap;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  color: white;
}

.navbar li a {
  padding: 10px 20px;
  color: white;
  display: block;
  text-decoration: none;
}

.navbar ul ul {
  position: absolute;
  display: none;
  background-color: rgb(169, 76, 76);
}

.navbar ul ul li {
  display: block;
}

.navbar li:hover ul {
  display: block;
}

.navbar ul ul li a:hover {
  background-color: rgb(95, 45, 45);
}

.navbar-item {
  margin: 0px;
  padding: 10px 20px;
}

#login-err-msg {
  padding: 0px;
  margin: 0px;
  color: rgb(57, 21, 21);
}

.login-box, .nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* footer */

footer {
  margin: 20px 0px 0px 0px;
  padding: 16px;
  background-color: rgb(169, 76, 76);
  color:white;
}

footer a {
  color: palegoldenrod;
}

/* reviews/reviews by category */

.review-thumbnail {
  width: 40%;
}

.review-list {
  list-style-type: none;
  margin: 0px 10px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-card {
  border: solid rgb(169, 76, 76);
  border-radius: 5%;
  width: min(500px, 90%);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: ivory;
}

.review-card p {
  margin: 16px 0px 10px 0px;
}

.review-card h3 {
  margin: 10px;
}

.review-card a {
  color: black;
  text-decoration: none;
}


.review-social-information {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.review-social-information li {
  padding: 0px 15px;
  display: flex;
  align-items: center;
}

.review-social-information li p {
  margin-left: 5px;
}
.review-social-information li img {
  width: 16px;
}

/* individual review page */
.review-info ul {
  list-style-type: none;
}



.individual-review, .comment-container {
  width: 90vw;
  background-color: ivory;
  border: solid rgb(169, 76, 76);
  margin: 16px auto;
}

.individual-review {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-info, .extra-info, .comment-info {
  color:rgb(169, 76, 76);
  display: flex;
  justify-content: space-between;
  padding: 0px;
  font-size: 0.9em;
}

.game-info {
  justify-content: space-evenly;
}
.review-info {
  padding: 10px;
  margin: 5px 30px;
  flex: 2 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-;
}

.review-photo {
  flex: 1 2 40%;
  max-width: 100%;
}

.comment-list {
  list-style-type: none;
  padding: 0px;
}


.comment-card {
  background-color: rgba(169, 76, 76, 0.066);
  margin: 15px;
  border: solid rgb(169, 76, 76);
  text-align: left;
  padding: 10px 0px 0px 16px;
}

.comment-info {
  margin: 0px;
}

.comments-header {
  color:hsl(0, 38%, 30%);
  font-size: 1.5em;
  margin: 32px 0px 16px 0px;
}

.comment-container {
  text-align: left;
}

.comment-container p {
  padding: 0px 0px 0px 16px;
}

.no-comments {
  text-align: center;
  padding: 16px 0px;
}

.vote-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-buttons p {
  padding: 0px 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.vote-button {
  height: fit-content;
  width: fit-content;
}